.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.row {
  flex-direction: row;
  justify-content: flex-start;
  gap: 80px;
  padding: 0 80px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.text-center {
  font-size: 1.5rem;
  text-align: center;
}

.plus-box {
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
  border: 1px solid #707070;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.image-box {
  width: 250px;
  height: 250px;
  min-width: 250px;
  min-height: 250px;
}

.image-box img {
  width: 100%;
  height: 100%;
}

input {
  display: none;
}


@media screen and (max-width: 768px) {

  .text-center {
    font-size: 1.3rem;
  }

  .gallery-box {
    gap: 40px;
  }
  
  .image-box {
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
  }

  .row {
    padding: 0 40px;
    gap: 60px;
  }

}